@using EDM_DB
@model Applications.QuanLyDangBai.Dtos.DisplayModel_CRUD_BaiDang_Output_Dto
@{
    string loai = Model.Loai;
    var baiDang = Model.BaiDang;
}
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title col-md-6 col-sm-12 my-2">
                @(loai == "create" ? "Thêm mới" : loai == "update" ? "Cập nhật" : "Xem chi tiết")
                <a class="text-warning c-pointer p-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Nhấn xem hướng dẫn"
                   data-hint="Nhấn xem hướng dẫn" data-hint-position="top-left"
                   onclick="huongDanSuDung.kichHoat('baidang-themmoi')"><i class="bi bi-lightbulb fs-6"></i></a>
            </h5>
            <div class="list-group list-group-horizontal mb-1 text-center col-md-6 col-sm-12 justify-content-sm-end justify-content-center" id="" role="tablist">
                <a class="list-group-item list-group-item-action active" id="thongtin-list"
                   data-bs-toggle="list" href="#thongtin" role="tab">Thông tin bài đăng</a>
            </div>
        </div>
        <div class="modal-body">
            <div class="tab-content text-justify">
                <div class="tab-pane fade show active" id="thongtin" role="tabpanel"
                     aria-labelledby="thongtin-list">
                    <div class="row" intro-container="thongtin-chung">
                        <!--Id-->
                        <input id="input-idbaidang" value="@baiDang.BaiDang.IdBaiDang" hidden />
                        <!--Nội dung-->
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="position-relative">
                                <div class="form-group mb-3">
                                    <label class="required" for="input-noidung">Nội dung</label>
                                    <input type="text" class="form-control" placeholder="Nhập thông tin ..."
                                           id="input-noidung" name="input-noidung"
                                           value="@(baiDang.BaiDang.NoiDung ?? "")" @(loai == "read" ? "disabled" : "") required>
                                    @* <input type="checkbox" class="form-check-input" id="checkbox-tenbaidang" style="position: absolute; z-index: 1; right: .6rem; top: 2rem;" onchange="quanLySanPham.choPhepTrungTenSanPham(this, $('#input-tenbaidang'))" @(loai == "read" ? "disabled" : "") />*@
                                    <div class="invalid-feedback feedback" for="input-noidung">Không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <!--Tự tạo ảnh-->
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="position-relative">
                                <div class="form-group mb-3">
                                    <label class="required" for="select-tutaoanh">Tự tạo ảnh</label>
                                    <select class="form-control form-select2"
                                            id="select-tutaoanh" name="select-tutaoanh"
                                            @(loai == "read" ? "disabled" : "") required>
                                        <option value="1">Có</option>
                                        <option value="0" selected>Không</option>
                                    </select>
                                    <div class="invalid-feedback feedback" for="select-tutaoanh">Không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <!--Thời gian-->
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="position-relative">
                                <div class="form-group mb-3">
                                    <label class="required" for="input-thoigian">Thời gian</label>
                                    <input type="datetime" class="form-control" placeholder="Nhập thông tin ..."
                                           id="input-thoigian" name="input-thoigian"
                                           value="@(baiDang.BaiDang.ThoiGian.Value.ToString() ?? "")" @(loai == "read" ? "disabled" : "") required>
                                    @* <input type="checkbox" class="form-check-input" id="checkbox-tenbaidang" style="position: absolute; z-index: 1; right: .6rem; top: 2rem;" onchange="quanLySanPham.choPhepTrungTenSanPham(this, $('#input-tenbaidang'))" @(loai == "read" ? "disabled" : "") />*@
                                    <div class="invalid-feedback feedback" for="input-thoigian">Không được để trống</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Ảnh mô tả-->
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td colspan="2" class="w-90 text-center">
                                                Ảnh mô tả
                                                <small class="text-danger fst-italic">(Tối đa 10 ảnh)</small>
                                            </td>
                                            <td class="text-center">
                                                <label class="btn c-pointer" for="image-anhmota">
                                                    <i class="bi bi-plus-circle-fill"></i>
                                                </label>
                                                <input type="file" id="image-anhmota" class="form-control"
                                                       multiple accept="image/*"
                                                       onchange="quanLyBaiDang.baiDang.handleAnhMoTa.add('anhmota')" hidden />
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="anhmota-container">
                                        @for (int i = 0; i < baiDang.TepDinhKems.Count; i++)
                                        {
                                            var tep = baiDang.TepDinhKems[i];
                                            <tr data-id="@tep .IdTep" data-idtamthoi="0">
                                                <td class="text-center">@(i+1)</td>
                                                <td class="w-90">@tep.FileName</td>
                                                <td class="text-center">
                                                    <a class="btn c-pointer"
                                                       onclick="quanLyBaiDang.baiDang.handleAnhMoTa.delete('anhmota', this)">
                                                        <i class="bi bi-trash3-fill"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            @if (loai != "read")
            {
                <button type="button" class="btn btn-primary ml-1" onclick="quanLyBaiDang.baiDang.save(@string.Format("'{0}'", loai))">
                    <span class="">Lưu</span>
                </button>
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="">Đóng</span>
            </button>
        </div>
    </div>
</div>