@using Organization.Models;
@using EDM_DB
@{
    List<tbCoCauToChucExtend> EXCEL_COCAUs_UPLOAD = Session["EXCEL_COCAUs_UPLOAD"] as List<tbCoCauToChucExtend>;
    int EXCEL_COCAUs_UPLOAD_COUNT = EXCEL_COCAUs_UPLOAD.Count;
}
<div class="row">
    <div class="@(EXCEL_COCAUs_UPLOAD_COUNT == 0 ? "col-12": "col-sm-12 col-md-5 col-lg-6")">
        <table class="table table-hover table-bordered w-100 nowrap" id="excel-cocau-getList" data-page-length="10" data-order="[[ 1, &quot;desc&quot; ]]">
            <thead>
                <tr>
                    <th class="text-center" data-orderable="false">
                        <a href="#" class="btn btn-sm btn-success" title="Thêm" onclick="org.excelCoCau.createRow()" hidden><i class="bi bi-plus-square-fill"></i></a>
                        <a href="#" class="btn btn-sm btn-danger" title="Xóa" onclick="org.excelCoCau.deleteRow()"><i class="bi bi-trash3-fill"></i></a>
                    </th>
                    <th class="text-center text-danger" style="min-width: 10rem!important">KIỂM TRA</th>
                    <th class="text-center" style="min-width: 10rem!important">Tên cơ cấu</th>
                    <th class="text-center" style="min-width: 10rem!important">Tên cơ cấu cha</th>
                </tr>
            </thead>
            <tfoot class="show-footer-above">
                <tr>
                    <th class="text-center"><input class="form-check-input checkAll-excel-cocau-getList" type="checkbox" title="Chọn tất cả" /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                    <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                </tr>
            </tfoot>
            <tbody>
                @for (int i = 0; i < EXCEL_COCAUs_UPLOAD_COUNT; i++) {
                    tbCoCauToChucExtend coCau = EXCEL_COCAUs_UPLOAD[i];
                    <tr row="@i" onclick="org.excelCoCau.readRow(this)">
                        <td class="text-center"><input class="form-check-input checkRow-excel-cocau-getList" type="checkbox" /></td>
                        <td class="text-center">
                            @{
                                string className = "";
                                if (coCau.KiemTraExcel.TrangThai == 0) {
                                    className = "bg-danger";
                                } else if (coCau.KiemTraExcel.TrangThai == 1) {
                                    className = "bg-success";
                                } else {
                                    className = "bg-warning";
                                }
                            }
                            <span class="badge @className" data-tentruong="TrangThaiKiemTra">@coCau.KiemTraExcel.KetQua</span>
                        </td>
                        <!--Tên cơ cấu-->
                        <td class="" style="vertical-align: top;">
                            <span data-tentruong="TenCoCau" for="input-tencocau">@coCau.TenCoCauToChuc</span>
                        </td>
                        <!--Tên cơ cấu cha-->
                        <td class="" style="vertical-align: top;">
                            <span data-tentruong="TemCoCauCha" for="input-tencocaucha">@coCau.CoCauCha.TenCoCauToChuc</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (EXCEL_COCAUs_UPLOAD_COUNT > 0) {
        <div class="col-sm-12 col-md-7 col-lg-6" id="excel-cocau-read-container" style="overflow-y: scroll; border: 1px solid #d3d3d35c;">
            @for (int i = 0; i < EXCEL_COCAUs_UPLOAD_COUNT; i++) {
                tbCoCauToChucExtend coCau = EXCEL_COCAUs_UPLOAD[i];
                <div class="row excel-cocau-read" row="@i">
                    <div class="col-12 border-1">
                        <div class="divider divider-left">
                            <div class="divider-text text-uppercase">
                                <i class="bi bi-caret-right-fill"></i> Thông tin chung
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <span class="font-bold text-danger text-uppercase">Lưu ý:</span> Người dùng chủ động xóa bỏ đầu mục số thứ tự của cơ cấu cha
                                    <span class="fst-italic font-bold">[1. Cơ cấu => Cơ cấu]</span>
                                </div>
                            </div>
                            <!--Tên cơ cấu cha-->
                            <div class="col-12">
                                <div class="position-relative">
                                    <div class="form-group mb-3">
                                        <label class="" for="input-tencocaucha">Tên cơ cấu cha</label>
                                        <input type="text" class="form-control" placeholder="Nhập thông tin ..."
                                               id="input-tencocaucha" name="input-tencocaucha"
                                               value="@(coCau.CoCauCha.TenCoCauToChuc ?? "")" onkeyup="org.excelCoCau.updateSingleCell(this)">
                                    </div>
                                </div>
                            </div>
                            <!--Tên cơ cấu-->
                            <div class="col-12">
                                <div class="position-relative">
                                    <div class="form-group mb-3">
                                        <label class="required" for="input-tencocau">Tên cơ cấu</label>
                                        <input type="text" class="form-control" placeholder="Nhập thông tin ..."
                                               id="input-tencocau" name="input-tencocau"
                                               value="@(coCau.TenCoCauToChuc ?? "")" onkeyup="org.excelCoCau.updateSingleCell(this)" required>
                                        <div class="invalid-feedback feedback" for="input-tencocau">Không được để trống</div>
                                    </div>
                                </div>
                            </div>
                            <!--Ghi chú-->
                            <div class="col-12">
                                <div class="position-relative">
                                    <div class="form-group mb-3">
                                        <label for="input-ghichu">Ghi chú</label>
                                        <textarea class="form-control min-h-100 max-h-200" id="input-ghichu" rows="3">@(coCau.GhiChu ?? "")</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>