@{
    string loai = ViewBag.loai;
    EDM_DB.tbDanhMucHoSo danhMuc = ViewBag.danhMuc;
    EDM_DB.tbDanhMucHoSo danhMucCha = ViewBag.danhMucCha;
    List<EDM_DB.tbDonViSuDung_PhongLuuTru> phongLuuTrus = ViewBag.phongLuuTrus;
}
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @(loai == "create" ? "Thêm mới" : loai == "update" ? "Cập nhật" : "Xem chi tiết")
            </h5>
        </div>
        <div class="modal-body">
            @*@if (phongLuuTrus.Count == 0) {*@
            <div class="row">
                <!--Lưu ý-->
                <div class="col-12">
                    <span class="fst-italic">
                        <a href="~/UnitManage/Index">➡️ Nhấn vào đây để tạo <span class="font-bold text-danger">[Phông lưu trữ]</span></a>
                    </span>
                </div>
            </div>
            @*  }*@
            <hr />
            <div class="row">
                <!--Id-->
                <input id="input-iddanhmuccha" value="@danhMucCha.IdDanhMucHoSo" hidden>
                <input id="input-capdo" value="@(loai == "create" ? danhMucCha.CapDo: danhMuc.CapDo)" hidden>
                <input id="input-iddanhmuc" value="@danhMuc.IdDanhMucHoSo" hidden />
                <!--Danh mục cấp cha-->
                @if (danhMucCha.IdDanhMucHoSo != 0) {
                    <div class="col-12">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label>Danh mục cấp cha</label>
                              <input type="text" class="form-control" value="@danhMucCha.TenDanhMucHoSo" disabled>
                            </div>
                        </div>
                    </div>
                } else {
                    <div class="col-12">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label>Danh mục cấp cha</label>
                                <input type="text" class="form-control" value="Không có cấp cha" disabled>
                            </div>
                        </div>
                    </div>
                }
                <!--Tên danh mục-->
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="position-relative">
                        <div class="form-group mb-3">
                            <label class="required" for="input-tenvitri">Tên danh mục</label>
                            <input type="text" class="form-control" placeholder="Nhập thông tin ..."
                                   id="input-tendanhmuc" name="input-tendanhmuc"
                                   value="@(danhMuc.TenDanhMucHoSo ?? "")" required>
                            <div class="invalid-feedback feedback" for="input-tendanhmuc">Không được để trống</div>
                        </div>
                    </div>
                </div>
                <!--Phông lưu trữ-->
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="position-relative">
                        <div class="form-group mb-3">
                            <label class="required" for="select-phongluutru">Phông lưu trữ</label>
                            <select class="form-control"
                                    id="select-phongluutru" name="select-phongluutru"
                                    @(loai == "read" ? "disabled" : "") required>
                                <option value="" disabled @(phongLuuTrus.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                @foreach (var p in phongLuuTrus) {
                                    <option value="@p.IdPhongLuuTru" @(p.IdPhongLuuTru == danhMuc.IdPhongLuuTru ? "selected" : "")>@p.TenPhongLuuTru</option>
                                }
                            </select>
                            <div class="invalid-feedback feedback" for="select-phongluutru">Không được để trống</div>
                        </div>
                    </div>
                </div>
                <!--Ghi chú-->
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="position-relative">
                        <div class="form-group mb-3">
                            <label for="input-ghichu">Ghi chú</label>
                            <textarea class="form-control min-h-100 max-h-200" id="input-ghichu" rows="3" @(loai == "read" ? "disabled" : "")>@(danhMuc.GhiChu ?? "")</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @if (loai != "read") {
                <button type="button" class="btn btn-primary ml-1" onclick="dd.danhMucHoSo.save(@("'" + loai + "'"))">
                    <span class="">Lưu</span>
                </button>
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="">Đóng</span>
            </button>
        </div>
    </div>
</div>