
@using UserAccount.Models
@model UserAccount.Models.CapNhatTaiKhoanMailM<tbNguoiDungExtend>
@{
    tbNguoiDungExtend nguoiDung_OLD = Model.NguoiDung_OLD;
    tbNguoiDungExtend nguoiDung_NEW = Model.NguoiDung_NEW;
}
<div class="row">
    <div class="col-12">
        <p class="font-bold" style="font-weight: 700 !important;">Thông tin người dùng:</p>
        <table class="table table-bordered w-100" style="border: 1px solid black; width: 100%;">
            <thead>
                <tr>
                    <th class="text-center" style="text-align: center !important; border: 1px solid black; padding: .5rem; background-color: #0b0c51; color: white;">#</th>
                    <th class="text-center" style="text-align: center !important; border: 1px solid black; padding: .5rem; background-color: #0b0c51; color: white;">Thông tin cũ</th>
                    <th class="text-center" style="text-align: center !important; border: 1px solid black; padding: .5rem; background-color: #0b0c51; color: white;">Thông tin mới</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.HinhThucCapNhat == "doimatkhau")
                {
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Mật khẩu</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.MatKhauCu</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.MatKhauMoi</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Tên người dùng</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.TenNguoiDung</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.TenNguoiDung</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Tên đăng nhập</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.TenDangNhap</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.TenDangNhap</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Giới tính</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_OLD.GioiTinh.Value ? "Nam" : "Nữ")</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_NEW.GioiTinh.Value ? "Nam" : "Nữ")</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Kích hoạt</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_OLD.KichHoat.Value ? "✔️" : "✖️")</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_NEW.KichHoat.Value ? "✔️" : "✖️")</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Email</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.Email</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.Email</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Số điện thoại</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.SoDienThoai</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.SoDienThoai</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Ngày sinh</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_OLD.NgaySinh == null ? "" : nguoiDung_NEW.NgaySinh.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@(nguoiDung_NEW.NgaySinh == null ? "" : nguoiDung_NEW.NgaySinh.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Kiểu người dùng</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.KieuNguoiDung.TenKieuNguoiDung</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.KieuNguoiDung.TenKieuNguoiDung</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Cơ cấu tổ chức</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.CoCauToChuc.TenCoCauToChuc</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.CoCauToChuc.TenCoCauToChuc</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Chức vụ</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.ChucVu.TenChucVu</td>
                        <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.ChucVu.TenChucVu</td>
                    </tr>
                    if (nguoiDung_NEW.ChucVu.TenChucVu == "NVKD")
                    {
                        <tr>
                            <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">Cấp độ doanh thu</td>
                            <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_OLD.CapDo_DoanhThu.TenCapDo_DoanhThu</td>
                            <td style="text-align: center !important; border: 1px solid black; padding: .5rem;">@nguoiDung_NEW.CapDo_DoanhThu.TenCapDo_DoanhThu</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr />
    @Html.Partial("~/Views/_Shared/Mail/mail-footer.cshtml")
</div>


<!--#region tạm khóa  -->
@*@using UserAccount.Models
    @model UserAccount.Models.CapNhatTaiKhoanMailM
    @{
        tbNguoiDungExtend nguoiDung_OLD = Model.NguoiDung_OLD;
        tbNguoiDungExtend nguoiDung_NEW = Model.NguoiDung_NEW;
        string soSanhThongTin(object thongTin_OLD, object thongTin_NEW)
        {
            string css = "";
            if (thongTin_OLD != null && thongTin_NEW != null &&
                thongTin_OLD.ToString() != thongTin_NEW.ToString())
            {
                css = "text-decoration: line-through; color: rgba(220,53,69,1) !important;";
            }
            return css;
        };
    }
    <div class="row">
        <div class="col-12">
            <p class="font-bold" style="font-weight: 700 !important;">Thông tin người dùng:</p>
            <table class="table table-bordered" style="border: 1px solid black;">
                <thead>
                    <tr>
                        <th class="text-center" style="text-align: center !important; border: 1px solid black;">#</th>
                        <th class="text-center" style="text-align: center !important; border: 1px solid black;">Thông tin cũ</th>
                        <th class="text-center" style="text-align: center !important; border: 1px solid black;">Thông tin mới</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Tên người dùng</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.TenNguoiDung, nguoiDung_NEW.TenNguoiDung))">@nguoiDung_OLD.TenNguoiDung</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.TenNguoiDung</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Tên đăng nhập</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.TenDangNhap, nguoiDung_NEW.TenDangNhap))">@nguoiDung_OLD.TenDangNhap</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.TenDangNhap</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Mật khẩu</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.MatKhau, nguoiDung_NEW.MatKhau))">@nguoiDung_OLD.MatKhau</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.MatKhau</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Giới tính</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.GioiTinh, nguoiDung_NEW.GioiTinh))">@(nguoiDung_OLD.GioiTinh.Value ? "Nam" : "Nữ")</td>
                        <td style="text-align: center !important; border: 1px solid black;">@(nguoiDung_NEW.GioiTinh.Value ? "Nam" : "Nữ")</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Kích hoạt</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.KichHoat, nguoiDung_NEW.KichHoat))">@(nguoiDung_OLD.KichHoat.Value ? "✔️" : "✖️")</td>
                        <td style="text-align: center !important; border: 1px solid black;">@(nguoiDung_NEW.KichHoat.Value ? "✔️" : "✖️")</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Email</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.Email, nguoiDung_NEW.Email))">@nguoiDung_OLD.Email</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.Email</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Số điện thoại</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.SoDienThoai, nguoiDung_NEW.SoDienThoai))">@nguoiDung_OLD.SoDienThoai</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.SoDienThoai</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Ngày sinh</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.NgaySinh, nguoiDung_NEW.NgaySinh))">@(nguoiDung_OLD.NgaySinh == null ? "" : nguoiDung_NEW.NgaySinh.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))</td>
                        <td style="text-align: center !important; border: 1px solid black;">@(nguoiDung_NEW.NgaySinh == null ? "" : nguoiDung_NEW.NgaySinh.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture))</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Kiểu người dùng</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.KieuNguoiDung.TenKieuNguoiDung, nguoiDung_NEW.KieuNguoiDung.TenKieuNguoiDung))">@nguoiDung_OLD.KieuNguoiDung.TenKieuNguoiDung</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.KieuNguoiDung.TenKieuNguoiDung</td>
                    </tr>
                    <tr>
                        <td style="text-align: center !important; border: 1px solid black;">Cơ cấu tổ chức</td>
                        <td style="text-align: center !important; border: 1px solid black; @(soSanhThongTin(nguoiDung_OLD.CoCauToChuc.TenCoCauToChuc, nguoiDung_NEW.CoCauToChuc.TenCoCauToChuc))">@nguoiDung_OLD.CoCauToChuc.TenCoCauToChuc</td>
                        <td style="text-align: center !important; border: 1px solid black;">@nguoiDung_NEW.CoCauToChuc.TenCoCauToChuc</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div class="col-12">
            <p>
                Nếu có bất kỳ thắc mắc nào, vui lòng liên hệ hotline:
                <a href="tel:@Model.DonViSuDung.SoDienThoai">@Model.DonViSuDung.SoDienThoai</a> hoặc gửi phản hồi tới hòm thư:
                <a href="mailto:@Model.DonViSuDung.Email">@Model.DonViSuDung.Email</a>.
            </p>
        </div>
        <hr />
        <div class="col-12">
            <p class="text-uppercase italic" style="text-transform: uppercase !important; font-style: italic !important;">Trân trọng.</p>
            <p>@Model.DonViSuDung.TenDonViSuDung - @Model.DonViSuDung.TenMien</p>
        </div>
    </div>*@
<!--#endregion -->