@using Applications.QuanLyAIBot.Models
@model List<tbAIBotExtend>

<div class="card-body">
    <table class="table table-hover table-bordered table-sticky w-100" id="aibot-getList" data-page-length="10">
        <thead class="nowrap" style="white-space: nowrap !important">
            <tr>
                <th class="text-center" data-orderable="false"></th>

                <th class="text-center">Id AI Bot</th>
                <th class="text-center">Tên AI Bot</th>
                <th class="text-center">Phân loại</th>
                <th class="text-center">Ngày tạo</th>

                @*    <th class="text-center" intro-container="dulieu-tacvu" data-orderable="false">Tác vụ</th>*@
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-aibot-getList" type="checkbox" title="Chọn tất cả" /></th>

                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>

                @*  <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>*@
            </tr>
        </tfoot>
        <tbody>
            @foreach (var aiBot in Model)
            {
                <tr id="@aiBot.AIBot.IdAIBot">
                    <td class="text-center"><input class="form-check-input checkRow-aibot-getList" type="checkbox" /></td>

                    <td class="text-center">@aiBot.AIBot.IdAIBot</td>
                    <td class="text-left">
                        <a class="c-pointer" onclick="quanLyAIBot.aiBot.chayThuNghiem('@aiBot.AIBot.IdAIBot')">
                            <i class="bi bi-gear-fill"></i> 
                        </a>
                    </td>
                    <td class="text-center">
                        @{
                            string tenLoai = string.Join(", ", aiBot.LoaiAIBots.Select(x => x.TenLoaiAIBot));
                            <span hidden>@tenLoai</span>
                            <span title="@tenLoai">@Public.Handle.TruncateString(input: tenLoai, maxLength: 30)</span>
                        }
                    </td>
                    <td class="text-left">@aiBot.AIBot.NgayTao</td>
                    @*<td class="text-center">
                            <div style="white-space: nowrap">
                                <a class="btn btn-sm btn-light-secondary" title="Xem chi tiết"
                                   onclick="quanLyAIBot.aiBot.xemChiTiet(@string.Format("'{0}'", aiBot.AIBot.IdAIBot))">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                            </div>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>