@model Applications.QuanLyBaiDang.Dtos.FormAddBaiDangDto
@{
}

@if (Model.LoaiView == "row")
{
    <tr row="@Model.BaiDang.RowNumber"
        onclick="quanLyBaiDang.handleModal_CRUD.readRow(this)">
        <td class="text-center"><input class="form-check-input checkRow-baidang-getList" type="checkbox" /></td>
        <td class="w-70" style="vertical-align: top;">
            <span data-tentruong="NoiDung">@Model.BaiDang.RowNumber</span>
        </td>
    </tr>
}
else
{
    <div class="row baidang-read p-2" row="@Model.BaiDang.RowNumber">
        <div class="col-sm-12 col-lg-12">
            @Html.Partial("~/Views/Admin/QuanLyBaiDang/baidang-crud/form-thongtinchung.cshtml", Model)
        </div>
        <div class="col-sm-12 col-lg-6">
            @Html.Partial("~/Views/Admin/QuanLyBaiDang/baidang-crud/form-lichdangbai.cshtml", Model)
        </div>
    </div>
}
