@using EDM_DB
@{
    List<tbDonViSuDung_PhongLuuTru> phongLuuTrus = ViewBag.phongLuuTrus;
    List<default_tbCheDoSuDung> cheDoSuDungs = ViewBag.cheDoSuDungs;
    List<tbViTriLuuTru> viTriLuuTrus = ViewBag.viTriLuuTrus;
    List<tbDanhMucHoSo> danhMucHoSos = ViewBag.danhMucHoSos;
}
<div class="modal fade text-left" id="excel-hoso-capnhattruong" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content" style="border: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật theo trường dữ liệu</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="input-quyentruycap-capnhattruong" value="" hidden />
                    <p class="text-danger">Lưu ý: Tích chọn các bản ghi trước khi cập nhật</p>
                    <!--Quyền truy cập-->
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <button type="button" class="btn btn-secondary w-100 d-flex justify-content-center" onclick="df.displayModal_ThietLapQuyen('#input-quyentruycap-capnhattruong')">
                                    <i class="bi bi-shield-lock-fill"></i>
                                    <span class="d-none d-sm-block">&nbsp;Thiết lập quyền</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--Vị trí lưu trữ-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="" for="select-vitriluutru">Vị trí lưu trữ</label>
                                <select class="form-control form-select2" id="select-vitriluutru-capnhattruong">
                                    <option disabled data-ma="" @(viTriLuuTrus.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                    @foreach (var viTri in viTriLuuTrus) {
                                        <option value="@viTri.IdViTriLuuTru">@viTri.TenViTriLuuTru</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Danh mục hồ sơ-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="" for="select-danhmuchoso">Danh mục hồ sơ</label>
                                <select class="form-control form-select2" id="select-danhmuchoso-capnhattruong">
                                    <option disabled data-ma="" @(danhMucHoSos.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                    @foreach (var danhMuc in danhMucHoSos) {
                                        <option value="@danhMuc.IdDanhMucHoSo">@danhMuc.TenDanhMucHoSo</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Phông lưu trữ-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="" for="select-phongluutru">Phông lưu trữ</label>
                                <select class="form-control form-select2" id="select-phongluutru-capnhattruong">
                                    <option disabled data-ma="" @(phongLuuTrus.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                    @foreach (var p in phongLuuTrus) {
                                        <option value="@p.IdPhongLuuTru">@p.TenPhongLuuTru</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Chế độ sử dụng-->
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="" for="select-chedosudung">Chế độ sử dụng</label>
                                <select class="form-control form-select2" id="select-chedosudung-capnhattruong">
                                    <option disabled @(cheDoSuDungs.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                    @foreach (var c in cheDoSuDungs) {
                                        <option value="@c.IdCheDoSuDung">@c.TenCheDoSuDung</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="df.excelHoSo.updateMultipleCell()">
                    <span class="">Cập nhật</span>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <span class="">Đóng</span>
                </button>
            </div>
        </div>
    </div>
</div>