@using EDM_DB
@using Public.Models
@model Applications.QuanLyAIBot.Dtos.GetList_LoaiAIBot_Output_Dto

<div class="mb-2 toggle-vis-bar">
    Hiển thị:
    @{
        var columns = new[] {
      "Id loại", "Tên loại", "Ngày tạo"
      };
    }

    @Public.Helpers.HtmlHelper.RenderToggleLinks("loaiaibot-getList", columns)
</div>
<table class="table table-hover table-bordered table-sticky w-100" id="loaiaibot-getList" data-page-length="10">
    <thead class="nowrap" style="white-space: nowrap !important">
        <tr>
            <th class="text-center" data-orderable="false"></th>

            <th class="text-center">Id loại</th>
            <th class="text-center">Tên loại</th>
            <th class="text-center">Ngày tạo</th>

            <th class="text-center" intro-container="dulieu-tacvu" data-orderable="false">
                <div style="white-space: nowrap">
                    <div class="btn-group btn-group-sm dropstart">
                        <button type="button" title="Thêm mới" class="btn btn-light-secondary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-reference="parent">
                            <i class="bi bi-gear-fill"></i>
                        </button>
                        <div class="dropdown-menu me-2" style="border: 1px solid black;">
                            @{
                                bool themMoi = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlyaibot-loaiaibot-themmoi");
                                bool capNhat_Multiple = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlyaibot-loaiaibot-capnhat");
                                bool xoaBo_Multiple = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlyaibot-loaiaibot-xoabo");
                                if (themMoi)
                                {
                                    <a class="dropdown-item c-pointer"
                                       onclick="quanLyAIBot.loaiAiBot.displayModal_CRUD('create')">
                                        <i class="bi bi-plus-circle-fill"></i> Thêm mới
                                    </a>
                                }
                                if (capNhat_Multiple)
                                {
                                    <a class="dropdown-item c-pointer"
                                       onclick="quanLyAIBot.loaiAiBot.displayModal_CRUD('update')">
                                        <i class="bi bi-pencil-square"></i> Cập nhật
                                    </a>
                                }
                                if (xoaBo_Multiple)
                                {
                                    <a class="dropdown-item c-pointer"
                                       onclick="quanLyAIBot.loaiAiBot.delete('multiple')">
                                        <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="show-footer-above">
        <tr>
            <th class="text-center"><input class="form-check-input checkAll-loaiaibot-getList" type="checkbox" title="Chọn tất cả" /></th>

            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>

            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var loaiAiBot in Model.LoaiAIBots)
        {
            <tr id="@loaiAiBot.IdLoaiAIBot">
                <td class="text-center"><input class="form-check-input checkRow-loaiaibot-getList" type="checkbox" /></td>

                <td class="text-left c-pointer"
                    onclick="sys.copyTextFromElement(this)"
                    title="Click để sao chép"
                    data-copy="@loaiAiBot.IdLoaiAIBot.ToString()">
                    <a href="#"><i class="bi bi-copy"></i> @Public.Handle.TruncateString(maxLength: 10, input: loaiAiBot.IdLoaiAIBot.ToString())</a>
                </td>
                <td class="text-left">@loaiAiBot.TenLoaiAIBot</td>
                <td class="text-left">@loaiAiBot.NgayTao</td>

                <td class="text-center">
                    <div style="white-space: nowrap">
                        <div class="btn-group btn-group-sm dropstart">
                            <button type="button" title="Thêm mới" class="btn btn-light-secondary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-reference="parent">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <div class="dropdown-menu me-2" style="border: 1px solid black;">
                                @{
                                    bool capNhat = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlyaibot-loaiaibot-capnhat");
                                    bool xoaBo = Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlyaibot-loaiaibot-xoabo");
                                    if (capNhat)
                                    {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyAIBot.loaiAiBot.displayModal_CRUD('update', '@loaiAiBot.IdLoaiAIBot')">
                                            <i class="bi bi-pencil-square"></i> Cập nhật
                                        </a>
                                    }
                                    if (xoaBo)
                                    {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyAIBot.loaiAiBot.delete('single', '@loaiAiBot.IdLoaiAIBot')">
                                            <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>