@using DocumentFormation.Models
@using UserType.Models
@{
    ViewBag.Title = "Lưu trữ văn bản";
    Layout = "~/Views/_Shared/Admin/admin.cshtml";
    List<ThaoTac> thaoTacs = ViewBag.thaoTacs;
    tbHoSoExtend hoSo = Session["HOSO"] as tbHoSoExtend;
}
@section hTitle {}
@section hBreadcrumb {
    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="~/DocumentFormation/Index">Tạo lập hồ sơ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Số hóa hồ sơ</li>
}
@section styles{
    <link href="~/Content/Admin/_DocumentManage/DocumentDigitizing/documentdigitizing.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Content/Admin/_DocumentManage/DocumentDigitizing/documentdigitizing.js"></script>
    <script>
        var dd = new DocumentDigitizing();
        dd.init();
        dd.vanBan.getList();
    </script>
}
<section class="section" page-group="page-group-documentmanage" id="page-documentformation" data-aos="fade-up">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="btn-group btn-group-sm" role="group">
                    @if (hoSo.TrangThai == 1)
                    {
                        <!--Thao tác-->
                        <a class="btn btn-primary"><i class="bi bi-three-dots-vertical"></i></a>
                        <div class="btn-group btn-group-sm dropdown">
                            <button type="button" title="Thêm mới" class="btn btn-light-secondary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-reference="parent">
                                Thao tác
                            </button>
                            <div class="dropdown-menu">
                                <label class="dropdown-item" for="select-pdf">
                                    <i class="bi bi-plus-square"></i> Thêm mới
                                </label>
                                <input hidden class="btn btn-success" id="select-pdf" type="file" accept=".doc,.docx,.xls,.xlsx,.pdf,.png,.jpg,.jpeg,.mp4" multiple
                                       onchange="sys.phanQuyenThaoTac(
                                                 '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-themmoi").ToString()',
                                                 function () { dd.vanBan.save() })">
                                <a class="dropdown-item"
                                   onclick="sys.phanQuyenThaoTac(
                                    '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-themmoidulieuso").ToString()',
                                    function () { dd.displayModal_Excel_DuLieuSo() })">

                                    <i class="bi bi-file-excel"></i> Thêm excel - dữ liệu số
                                </a>
                                <a class="dropdown-item"
                                   onclick="sys.phanQuyenThaoTac(
                                    '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-xoabo").ToString()',
                                    function () { dd.vanBan.delete('multiple') })">

                                    <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                </a>
                            </div>
                        </div>
                        <div class="btn-group btn-group-sm" role="group">
                            <a class="btn btn-primary"><i class="bi bi-shield-fill-check"></i></a>
                            <a class="btn btn-light-secondary"
                               onclick="sys.phanQuyenThaoTac(
                                '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-kysohangloat").ToString()',
                                function () { dd.kySo.exc_sign_files() })">
                                Ký số hàng loạt
                            </a>
                            <a class="btn btn-success"><i class="bi bi-send-check"></i></a>
                            <a class="btn btn-light-secondary"
                               onclick="sys.phanQuyenThaoTac(
                                '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-nopluu").ToString()',
                                function () { dd.vanBan.nopLuu(@hoSo.IdHoSo) })">
                                Nộp lưu
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group btn-group-sm" role="group">
                            <a class="btn btn-danger"><i class="bi bi-send-x"></i></a>
                            <a class="btn btn-light-secondary"
                               onclick="sys.phanQuyenThaoTac(
                                '@thaoTacs.Exists(x => x.MaThaoTac == "vanban-huynopluu").ToString()',
                                function () { dd.vanBan.huyNopLuu(@hoSo.IdHoSo) })">
                                Hủy nộp lưu
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        @Html.Partial("~/Views/Admin/_DocumentManage/DocumentDigitizing/vanban.thongtinhoso.cshtml")
    </div>
    <div class="card" id="vanBan-container">
    </div>
</section>

<!--vanban-digitizing-->
<div class="modal fade text-left" id="vanban-digitizing" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" removeBody="true">
</div>
<!--vanban-ganbieumau-->
@Html.Partial("~/Views/Admin/_DocumentManage/DocumentDigitizing/vanban.ganbieumau.cshtml")
<!--vanban-excel.dulieuso-->
@Html.Partial("~/Views/Admin/_DocumentManage/DocumentDigitizing/documentdigitizing-excel.dulieuso/excel.dulieuso.cshtml")