@using EDM_DB
@model Applications.QuanLyBaiDang.Dtos.Index_OutPut_Dto

<div class="modal fade text-left" id="baidang-crud-capnhattruong" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content" style="border: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật theo trường dữ liệu</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p class="text-danger">Lưu ý: Tích chọn các bản ghi trước khi cập nhật</p>
                    <!--Loại AI Tool-->
                    <div class="col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="required" for="select-aitool">AI Tool</label>
                                <select class="form-control form-select2"
                                        id="select-aitool" name="select-aitool" required>
                                    <option disabled @(Model.AITools.Count > 0 ? "" : "")>Chọn thông tin</option>
                                    @foreach (var aiTool in Model.AITools)
                                    {
                                        <option value="@aiTool.IdAITool">@aiTool.ToolName</option>
                                    }
                                </select>
                                <div class="invalid-feedback feedback" for="select-loaiaitool">Không được để trống</div>
                            </div>
                        </div>
                    </div>
                    <!--Loại AI Bot-->
                    <div class="col-sm-12 col-md-6">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="required" for="select-aibot">AI Bot</label>
                                <select class="form-control form-select2"
                                        id="select-aibot" name="select-aibot"
                                        required>
                                    <option value="">Chọn thông tin</option>
                                    @foreach (var aiBot in Model.AIBots)
                                    {
                                        <option value="@aiBot.IdAIBot">@aiBot.TenAIBot</option>
                                    }
                                </select>
                                <div class="invalid-feedback feedback" for="select-aibot">Không được để trống</div>
                            </div>
                        </div>
                    </div>
                    <!--Nền tảng-->
                    <div class="col-sm-12 col-md-12">
                        <div class="position-relative">
                            <div class="form-group mb-3">
                                <label class="required" for="select-nentang-capnhattruong">Nền tảng</label>
                                <select class="form-control form-select2"
                                        id="select-nentang-capnhattruong" name="select-nentang-capnhattruong"
                                        multiple required>
                                    <option disabled @(Model.NenTangs.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                    @foreach (var nenTang in Model.NenTangs)
                                    {
                                        <option value="@nenTang.IdNenTang">@nenTang.TenNenTang</option>
                                    }
                                </select>
                                <div class="invalid-feedback feedback" for="select-nentang-capnhattruong">Không được để trống</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="quanLyBaiDang.handleModal_CRUD.updateMultipleCell()">
                    <span class="">Cập nhật</span>
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <span class="">Đóng</span>
                </button>
            </div>
        </div>
    </div>
</div>