@using EDM_DB
@model Applications.QuanLyBaiDang.Dtos.FormAddBaiDangDto

<div class="row" intro-container="thongtin-chung">
    <!--Id-->
    <input id="input-idbaidang" value="@Guid.Empty" hidden />

    <!--Prompt-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="" for="input-prompt">Prompt</label>
                @{
                    var email = "email@gmail.com";
                    var website = "https://postpilot.com";
                    var diaChi = "Hà Nội, Việt Nam";
                    var chuDe = "Thời trang, Mỹ phẩm";
                    var prompt = $@"
Viết một bài đăng fanpage chất lượng cao theo phong cách sau:

1. **Tiêu đề ngắn gọn, mạnh mẽ và thu hút**, có thể dùng biểu tượng cảm xúc (emoji) phù hợp.
2. **Feedback thực tế hoặc câu chuyện truyền cảm hứng** từ khách hàng hoặc học viên (dạng lời kể, dẫn chứng).
3. **Danh sách gạch đầu dòng** các lợi ích, kết quả cụ thể mà người dùng đạt được.
4. **Lý do tại sao người khác cũng nên lựa chọn dịch vụ/sản phẩm này** (USP – điểm mạnh, cam kết...).
5. **Kêu gọi hành động rõ ràng**: inbox, bình luận, hoặc để lại thông tin để được tư vấn.
6. **Thông tin liên hệ**, bao gồm:
7. **Hashtag liên quan ở cuối bài viết** (4–6 hashtag)
                                   - Email: {email}
                                   - Website: {website}
                                   - Địa chỉ: {diaChi}

Nội dung bài viết nói về: ""{chuDe}""

Yêu cầu:
- Viết bằng tiếng Việt
- Văn phong thuyết phục, tự nhiên, gần gũi, hướng đến hành động, dành cho fanpage
- Có thể sử dụng emoji để làm nổi bật
- Toàn bộ nội dung không quá 500 từ
";
                    var title = $@"Viết prompt của bạn để AI hỗ trợ tạo nội dung phù hợp";
                }
                <textarea class="form-control min-h-100 max-h-300" id="input-prompt" rows="10"
                          title="@title"
                          placeholder="Nhập nội dung prompt ...">@prompt</textarea>
                <a class="btn btn-sm btn-success" id="btn-taonoidung-ai"
                   style="position: absolute; z-index: 1; right: .6rem; top: 2rem;"
                   onclick="quanLyBaiDang.baiDang.handleAI.taoNoiDungAI('@Model.BaiDang.RowNumber')">
                    <i class="bi bi-fast-forward-fill"></i>
                </a>
                <div class="invalid-feedback feedback" for="input-prompt">Không được để trống</div>
            </div>
        </div>
    </div>
    <!--Nội dung AI-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-noidung-ai">Nội dung</label>
                <textarea class="form-control min-h-100 max-h-300" id="input-noidung-ai" rows="10"
                          placeholder="Nhấn mũi tên để AI tiến hành tạo nội dung ..." required></textarea>
                <div class="invalid-feedback feedback" for="input-noidung-ai">Không được để trống</div>
            </div>
        </div>
    </div>
    <!--Thời gian-->
    <div class="col-12 col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="input-thoigian">Thời gian</label>
                @{
                    var minTime = DateTime.Now.AddHours(1).ToString("yyyy-MM-ddTHH:mm");
                }
                <input type="datetime-local" class="form-control input-thoigian"
                       id="input-thoigian"
                       name="input-thoigian"
                       min="@minTime"
                       required />
                <div class="invalid-feedback feedback" for="input-thoigian">Không được để trống</div>
            </div>
        </div>
    </div>
    <!--Nền tảng-->
    <div class="col-sm-12 col-md-6">
        <div class="position-relative">
            <div class="form-group mb-3">
                <label class="required" for="select-nentang">Nền tảng</label>
                <select class="form-control form-select2"
                        id="select-nentang" name="select-nentang" 
                        multiple required>
                    <option disabled @(Model.NenTangs.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                    @foreach (var nenTang in Model.NenTangs)
                    {
                        <option value="@nenTang.IdNenTang">@nenTang.TenNenTang</option>
                    }
                </select>
                <div class="invalid-feedback feedback" for="select-nentang">Không được để trống</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--Tự tạo ảnh bằng AI-->
    <div class="col-12 col-sm-12 col-md-12">
        <div class="position-relative mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkbox-sudunganh-ai" id="checkbox-sudunganh-ai"
                       onchange="quanLyBaiDang.baiDang.handleAI.kichHoatSuDungAnhAI()" />
                <label class="form-check-label" for="checkbox-sudunganh-ai">
                    Tự tạo ảnh bằng AI
                </label>
            </div>
        </div>
    </div>
    <!--Ảnh mô tả-->
    <div class="col-12" id="anhmota-container">
        <div class="form-group mb-3">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td colspan="2" class="w-90 text-center">
                            Ảnh mô tả
                            <small class="text-danger fst-italic">(Tối đa 10 ảnh)</small>
                        </td>
                        <td class="text-center">
                            <label class="btn c-pointer" for="image-anhmota-@Model.BaiDang.RowNumber">
                                <i class="bi bi-plus-circle-fill"></i>
                            </label>
                            <input type="file" id="image-anhmota-@Model.BaiDang.RowNumber" class="form-control"
                                   multiple accept=".png, .jpg, .jpeg"
                                   onchange="quanLyBaiDang.baiDang.handleAnhMoTa.add(this, 'anhmota', '@Model.BaiDang.RowNumber')"
                                   hidden />
                        </td>
                    </tr>
                </thead>
                <tbody id="tbody-anhmota-container">
                    @*@for (int i = 0; i < baiDang.TepDinhKems.Count; i++)
                        {
                            var tep = baiDang.TepDinhKems[i];
                            <tr data-id="@tep .IdTep" data-idtamthoi="0">
                                <td class="text-center">@(i+1)</td>
                                <td class="w-90">@tep.FileName</td>
                                <td class="text-center">
                                    <a class="btn c-pointer"
                                       onclick="quanLyBaiDang.baiDang.handleAnhMoTa.delete('anhmota', this)">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>