@using Applications.QuanLyBaiDang.Models
@using Public.Enums
@using Public.Extensions
@model IEnumerable<tbBaiDangExtend>
@using Public.Models
@{
    var thaoTacs = Session["THAOTACs"] as List<ThaoTac>;
}

<div class="card-body">
    <table class="table table-hover table-bordered table-sticky w-100" id="baidang-getList" data-page-length="10">
        <thead class="nowrap" style="white-space: nowrap !important">
            <tr>
                <th class="text-center" data-orderable="false">
                    <div style="white-space: nowrap">
                        @if (thaoTacs.Exists(x => x.MaThaoTac == "quanlybaidang-themmoi"))
                        {
                            <a class="btn btn-sm btn-success"
                               title="Thêm mới"
                               onclick="quanLyBaiDang.baiDang.displayModal_CRUD('create')">
                                <i class="bi bi-plus-circle-fill"></i>
                            </a>
                        }
                        @if (thaoTacs.Exists(x => x.MaThaoTac == "quanlybaidang-xoabo"))
                        {
                            <a class="btn btn-sm btn-danger"
                               title="Xóa bỏ"
                               onclick="quanLyBaiDang.baiDang.delete('multiple')">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        }
                    </div>
                </th>

                <th class="text-center">Id bài đăng</th>
                <th class="text-center">Nội dung</th>
                <th class="text-center">Thời gian đăng</th>
                <th class="text-center">Trạng thái đăng</th>
                <th class="text-center">URL bài viết</th>

                @*<th class="text-center" intro-container="dulieu-tacvu" data-orderable="false">Tác vụ</th>*@
            </tr>
        </thead>
        <tfoot class="show-footer-above">
            <tr>
                <th class="text-center"><input class="form-check-input checkAll-baidang-getList" type="checkbox" title="Chọn tất cả" /></th>

                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
                <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>

                @*<th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>*@
            </tr>
        </tfoot>
        <tbody>
            @foreach (var baidang in Model)
            {
                <tr id="@baidang.BaiDang.IdBaiDang">
                    <td class="text-center"><input class="form-check-input checkRow-baidang-getList" type="checkbox" /></td>
                    <td class="text-left">@baidang.BaiDang.IdBaiDang</td>
                    <td class="text-left" title="@baidang.BaiDang.NoiDung">
                        @Public.Handle.TruncateString(maxLength: 40, input: baidang.BaiDang.NoiDung)
                    </td>
                    <td class="text-left">@baidang.BaiDang.ThoiGian.Value</td>
                    <td class="text-center">
                        @{
                            var status = (TrangThaiDangBaiEnum)baidang.BaiDang.TrangThaiDangBai;
                            var description = status.GetDescription();

                            string iconClass = "badge bg-primary";
                            if (status == TrangThaiDangBaiEnum.Success)
                            {
                                iconClass = "badge bg-success";
                            }
                            else if (status == TrangThaiDangBaiEnum.WaitToPost)
                            {
                                iconClass = "badge bg-primary";
                            }
                            else if (status == TrangThaiDangBaiEnum.Error)
                            {
                                iconClass = "badge bg-danger";
                            }

                        }
                        <span class="@iconClass">@description</span>
                    </td>
                    <td class="text-left">
                        <a href="@baidang.BaiDang.LienKetBaiDang_TrenNenTang" target="_blank" rel="noopener noreferrer">
                            @Public.Handle.TruncateString(maxLength: 40, input: baidang.BaiDang.LienKetBaiDang_TrenNenTang)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>