<div class="modal-dialog modal-dialog-scrollable modal-full" role="document">
    <div class="modal-content h-100">
        <div class="modal-header">
            <h5 class="modal-title col-md-6 col-sm-12 my-2">
                @*       @(loai == "create" ? "Thêm mới" : loai == "update" ? "Cập nhật" : "Xem chi tiết")*@
                Thêm mới
                <a class="text-warning c-pointer p-1" data-bs-toggle="tooltip" data-bs-placement="right" title="Nhấn xem hướng dẫn"
                   data-hint="Nhấn xem hướng dẫn" data-hint-position="top-left"
                   onclick="huongDanSuDung.kichHoat('baidang-themmoi')"><i class="bi bi-lightbulb fs-6"></i></a>
            </h5>
            @*<div class="list-group list-group-horizontal mb-1 text-center col-md-6 col-sm-12 justify-content-sm-end justify-content-center" id="" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="thongtin-list"
                       data-bs-toggle="list" href="#thongtin" role="tab">Thông tin bài đăng</a>
                </div>*@
        </div>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="modal-body">
                        <div class="tab-content text-justify">
                            <div class="tab-pane fade show active" id="thongtin" role="tabpanel"
                                 aria-labelledby="thongtin-list">
                                <div class="row" intro-container="thongtin-chung">
                                    <!--Id-->
                                    <input id="input-idbaidang" value="@Guid.Empty" hidden />

                                    <!--Nội dung-->
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <div class="position-relative">
                                            <div class="form-group mb-3">
                                                <label class="required" for="input-noidung">Từ khóa</label>
                                                <textarea class="form-control min-h-400 max-h-400" id="input-noidung" rows="10"
                                                          placeholder="Nhập từ khóa: Công nghệ, Thời trang, Mỹ phẩm, ..." required></textarea>
                                                <a class="btn btn-sm btn-success" id="btn-taonoidung-ai"
                                                   style="position: absolute; z-index: 1; right: .6rem; top: 2rem;"
                                                   onclick="quanLyBaiDang.baiDang.handleAI.taoNoiDungAI()">
                                                    <i class="bi bi-fast-forward-fill"></i>
                                                </a>
                                                <div class="invalid-feedback feedback" for="input-noidung">Không được để trống</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Nội dung AI-->
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <div class="position-relative">
                                            <div class="form-group mb-3">
                                                <label class="" for="input-noidung-ai">Nội dung AI</label>
                                                <textarea class="form-control min-h-400 max-h-400" id="input-noidung-ai" rows="10"
                                                          placeholder="Nhấn mũi tên để AI tiến hành tạo nội dung ..."></textarea>
                                                <div class="invalid-feedback feedback" for="input-noidung-ai">Không được để trống</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Sử dụng nội dung AI-->
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <div class="position-relative mb-3" id="radio-sudungnoidung-ai">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="checkbox-sudungnoidung-ai" id="checkbox-sudungnoidung-ai"
                                                       onchange="quanLyLopHoc.lopHoc.lichHoc.switchTaoLichHocTuDong()">
                                                <label class="form-check-label" for="checkbox-sudungnoidung-ai">
                                                    Sử dụng nội dung AI
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Sử dụng ảnh AI-->
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <div class="position-relative mb-3" id="radio-sudunganh-ai">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="checkbox-sudunganh-ai" id="checkbox-sudunganh-ai"
                                                       onchange="quanLyLopHoc.lopHoc.lichHoc.switchTaoLichHocTuDong()">
                                                <label class="form-check-label" for="checkbox-sudunganh-ai">
                                                    Sử dụng ảnh AI
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Thời gian-->
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="position-relative">
                                            <div class="form-group mb-3">
                                                <label class="required" for="input-thoigian">Thời gian</label>
                                                @{
                                                    var minDateTime = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
                                                }
                                                <input type="datetime-local" class="form-control" placeholder="Nhập thông tin ..."
                                                       min="@minDateTime"
                                                       id="input-thoigian" name="input-thoigian" required>
                                                <div class="invalid-feedback feedback" for="input-thoigian">Không được để trống</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Ảnh mô tả-->
                                    <div class="col-12">
                                        <div class="form-group mb-3">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <td colspan="2" class="w-90 text-center">
                                                            Ảnh mô tả
                                                            <small class="text-danger fst-italic">(Tối đa 10 ảnh)</small>
                                                        </td>
                                                        <td class="text-center">
                                                            <label class="btn c-pointer" for="image-anhmota">
                                                                <i class="bi bi-plus-circle-fill"></i>
                                                            </label>
                                                            <input type="file" id="image-anhmota" class="form-control"
                                                                   multiple accept="image/*"
                                                                   onchange="quanLyBaiDang.baiDang.handleAnhMoTa.add('anhmota')"
                                                                   hidden />
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody id="anhmota-container">
                                                    @*@for (int i = 0; i < baiDang.TepDinhKems.Count; i++)
                                                        {
                                                            var tep = baiDang.TepDinhKems[i];
                                                            <tr data-id="@tep .IdTep" data-idtamthoi="0">
                                                                <td class="text-center">@(i+1)</td>
                                                                <td class="w-90">@tep.FileName</td>
                                                                <td class="text-center">
                                                                    <a class="btn c-pointer"
                                                                       onclick="quanLyBaiDang.baiDang.handleAnhMoTa.delete('anhmota', this)">
                                                                        <i class="bi bi-trash3-fill"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="modal-body">
                        <img src="assets/images/samples/2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary ml-1" onclick="quanLyBaiDang.baiDang.save(@string.Format("'{0}'", "create"))">
                <span class="">Lưu</span>
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="">Đóng</span>
            </button>
        </div>
    </div>
</div>