@model Applications.QuanLyBaiDang.Dtos.GetList_BaiDang_Output_Dto
@using Applications.QuanLyBaiDang.Models
@using Applications.Enums
@using Public.Helpers
@using Public.Models
@using TrangThaiDangBai_BaiDang = Applications.QuanLyBaiDang.Enums.TrangThaiDangBaiEnum;

<div class="mb-2 toggle-vis-bar">
    Hiển thị:
    @{
        var columns = new[] {
        "Id bài đăng", "Nội dung", "Thời gian đăng", "Nền tảng",
        "Chiến dịch", "Trạng thái đăng", "Người tạo"
        };
    }

    @Public.Helpers.HtmlHelper.RenderToggleLinks("baidang-getList", columns)
</div>
<table class="table table-hover table-bordered table-sticky w-100" id="baidang-getList" data-page-length="10">
    <thead class="nowrap" style="white-space: nowrap !important">
        <tr>
            <th class="text-center" data-orderable="false"></th>

            <th class="text-center">Id bài đăng</th>
            <th class="text-center">Nội dung</th>
            <th class="text-center">Thời gian đăng</th>
            <th class="text-center">Nền tảng</th>
            <th class="text-center">Chiến dịch</th>
            <th class="text-center">Trạng thái đăng</th>
            <th class="text-center">Người tạo</th>

            <th class="text-center" intro-container="dulieu-tacvu" data-orderable="false">
                <div style="white-space: nowrap">
                    @if (Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlybaidang-themmoi"))
                    {
                        <a class="btn btn-sm btn-success"
                           title="Thêm mới"
                           onclick="quanLyBaiDang.baiDang.displayModal_CRUD('create')">
                            <i class="bi bi-plus-circle-fill"></i>
                        </a>
                    }
                    @if (Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlybaidang-xoabo"))
                    {
                        <a class="btn btn-sm btn-danger"
                           title="Xóa bỏ"
                           onclick="quanLyBaiDang.baiDang.delete('multiple')">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    }
                </div>
            </th>
        </tr>
    </thead>
    <tfoot class="show-footer-above">
        <tr>
            <th class="text-center"><input class="form-check-input checkAll-baidang-getList" type="checkbox" title="Chọn tất cả" /></th>

            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>
            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." /></th>

            <th><input type="text" class="form-control dt-search-col" placeholder="Tìm kiếm ..." disabled /></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var baidang in Model.BaiDangs)
        {
            <tr id="@baidang.BaiDang.IdBaiDang">
                <td class="text-center"><input class="form-check-input checkRow-baidang-getList" type="checkbox" /></td>
                <td class="text-left c-pointer"
                    onclick="sys.copyTextFromElement(this)"
                    title="Click để sao chép"
                    data-copy="@baidang.BaiDang.IdBaiDang.ToString()">
                    <a href="#"><i class="bi bi-copy"></i> @Public.Handle.TruncateString(maxLength: 10, input: baidang.BaiDang.IdBaiDang.ToString())</a>
                </td>
                <td class="text-left" title="@baidang.BaiDang.NoiDung">
                    @Public.Handle.TruncateString(maxLength: 28, input: baidang.BaiDang.NoiDung)
                </td>
                <td class="text-left">@baidang.BaiDang.ThoiGian.Value</td>
                <td class="text-left">@(baidang.NenTang?.TenNenTang)</td>
                <td class="text-left">@(baidang.ChienDich?.TenChienDich)</td>
                <td class="text-center">
                    @{
                        var status = (TrangThaiDangBai_BaiDang)baidang.BaiDang.TrangThaiDangBai;
                        var description = status.GetDescription();

                        string badgeClass = "";
                        string iconClass = "";

                        if (status == TrangThaiDangBai_BaiDang.Draft)
                        {
                            badgeClass = "badge bg-light-secondary";
                            iconClass = "bi bi-puzzle";
                        }
                        else if (status == TrangThaiDangBai_BaiDang.WaitToPost)
                        {
                            badgeClass = "badge bg-light-warning";
                            iconClass = "bi bi-alarm";
                        }
                        else if (status == TrangThaiDangBai_BaiDang.Success)
                        {
                            badgeClass = "badge bg-light-success";
                            iconClass = "bi bi-check";
                        }
                        else if (status == TrangThaiDangBai_BaiDang.Error)
                        {
                            badgeClass = "badge bg-light-danger";
                            iconClass = "bi bi-bug";
                        }
                        else if (status == TrangThaiDangBai_BaiDang.WaitToDelete)
                        {
                            badgeClass = "badge bg-light-warning";
                            iconClass = "bi bi-recycle";
                        }
                        else if (status == TrangThaiDangBai_BaiDang.Deleted)
                        {
                            badgeClass = "badge bg-light-danger";
                            iconClass = "bi bi-trash3";
                        }
                    }
                    <span class="@badgeClass"><i class="@iconClass"></i> @description</span>
                </td>
                <td class="text-left">@baidang.NguoiTao.TenNguoiDung</td>
                <td class="text-center">
                    <div style="white-space: nowrap">
                        <div class="btn-group btn-group-sm dropstart">
                            <button type="button" title="Thêm mới" class="btn btn-light-secondary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    data-reference="parent">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <div class="dropdown-menu me-2" style="border: 1px solid black;">
                                @{
                                    // Cho phép sửa nếu (nháp, lỗi, chờ đăng) - sau 5 phút
                                    bool capNhat = (baidang.BaiDang.TrangThaiDangBai.HasValue
                                        && ((baidang.BaiDang.TrangThaiDangBai.Value == (int?)TrangThaiDangBai_BaiDang.Draft)
                                        || (baidang.BaiDang.TrangThaiDangBai.Value == (int?)TrangThaiDangBai_BaiDang.WaitToPost)
                                        || (baidang.BaiDang.TrangThaiDangBai.Value == (int?)TrangThaiDangBai_BaiDang.Error))
                                        );
                                    // Cho phép chuyển đăng bài (nháp)
                                    bool chuyenDangBai = baidang.BaiDang.TrangThaiDangBai.HasValue
                                        && (baidang.BaiDang.TrangThaiDangBai.Value == (int?)TrangThaiDangBai_BaiDang.Draft);
                                    bool xemBaiDangThucTe = !string.IsNullOrEmpty(baidang.BaiDang.LienKetBaiDang_TrenNenTang);
                                    if (capNhat)
                                    {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyBaiDang.baiDang.save('update', '@baidang.BaiDang.IdBaiDang')">
                                            <i class="bi bi-pencil-square"></i> Cập nhật
                                        </a>
                                    }
                                    if (chuyenDangBai)
                                    {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyBaiDang.baiDang.createFromDraft('single', '@baidang.BaiDang.IdBaiDang')">
                                            <i class="bi bi-plus-circle-fill"></i> Chuyển đăng bài
                                        </a>
                                    }
                                    if (Model.ThaoTacs.Exists(x => x.MaThaoTac == "quanlybaidang-xoabo"))
                                    {
                                        <a class="dropdown-item c-pointer"
                                           onclick="quanLyBaiDang.baiDang.delete('single', '@baidang.BaiDang.IdBaiDang')">
                                            <i class="bi bi-trash3-fill"></i> Xóa bỏ
                                        </a>
                                    }
                                    if (xemBaiDangThucTe)
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item c-pointer"
                                           href="@baidang.BaiDang.LienKetBaiDang_TrenNenTang"
                                           target="_blank" rel="noopener noreferrer">
                                            <i class="bi bi-link-45deg"></i> Xem bài đăng thực tế
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>