@using DocumentFormation.Models
@{
    tbHoSo_VanBanExtend vanBan = ViewBag.vanBan;
    List<tbBieuMauExtend> BIEUMAUs = Session["BIEUMAUs"] as List<tbBieuMauExtend>;
    string hostName = ViewBag.hostName;
    string loai = "read";
}
@section styles {
    <style>
        iframe {
            pointer-events: none; /* Ngăn sự tương tác với iframe */
        }
    </style>    
}
<div class="modal-dialog modal-dialog-scrollable modal-full" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @(loai == "create" ? "Số hóa hồ sơ" : loai == "update" ? "Cập nhật" : "Xem chi tiết")
            </h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <!--Id-->
                <input id="input-idvanban" value="@vanBan.IdVanBan" hidden />
                <!--Thông tin-->
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <!--Biểu mẫu-->
                        <div class="col-12">
                            <div class="position-relative">
                                <div class="form-group with-title mb-0">
                                    <label class="required" for="select-bieumau">Biểu mẫu</label>
                                    <select class="form-control" id="select-bieumau" onchange="s.vanBan.displayPartial_DuLieuSos()" @(loai == "read" ? "disabled" : "")>
                                        <option disabled @(BIEUMAUs.Count > 0 ? "" : "selected")>Chọn thông tin</option>
                                        @foreach (var bm in BIEUMAUs) {
                                            <option value="@bm.IdBieuMau" data-idloaibieumau="@bm.IdLoaiBieuMau" @(bm.IdBieuMau == vanBan.IdBieuMau ? "selected" : "")>@bm.TenBieuMau</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Trường dữ liệu-->
                        <div class="col-12">
                            <hr />
                            <div class="row" id="truongdulieus-container"></div>
                        </div>
                    </div>
                </div>
                <!--Ảnh-->
                <div class="col-sm-12 col-md-6 z-1">
                    @MvcHtmlString.Create(ViewBag.iframeHtml)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <span class="">Đóng</span>
            </button>
        </div>
    </div>
</div>